/************************************************************************
// Proyecto FIC
// Version v0.9.flexbox
************************************************************************/

/************************************************************************/

.datosPaciente {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.3rem;
}

.control {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}

.boton {
  padding: 0.3rem 0.5rem;
}
