/************************************************************************
// Proyecto FIC
// Version v0.11-altasPacientes
************************************************************************/

/************************************************************************/

.listaPacientes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  border: solid 2px var(--color-primario);
  padding: 0.2rem;
}

.itemPaciente:hover {
  background-color: var(--color-secundario);
}

.botonNuevoPaciente {
  margin-top: 0.8rem;
  padding: 0.3rem 0.5rem;
}
